<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.bebada.dhani.bebada" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Membaca"
            android:label="@string/title_activity_membaca"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_jawa_1"
            android:label="@string/title_activity_membaca_jawa_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_jawa_2"
            android:label="@string/title_activity_membaca_jawa_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_jawa_3"
            android:label="@string/title_activity_membaca_jawa_3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_jawa_4"
            android:label="@string/title_activity_membaca_jawa_4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_jawa_5"
            android:label="@string/title_activity_membaca_jawa_5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_sunda_1"
            android:label="@string/title_activity_membaca_sunda_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_sunda_2"
            android:label="@string/title_activity_membaca_sunda_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_sunda_3"
            android:label="@string/title_activity_membaca_sunda_3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_sunda_4"
            android:label="@string/title_activity_membaca_sunda_4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_sunda_5"
            android:label="@string/title_activity_membaca_sunda_5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis"
            android:label="@string/title_activity_kuis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_jawa"
            android:label="@string/title_activity_kuis_jawa"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_jawa_1"
            android:label="@string/title_activity_kuis_jawa_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_jawa_2"
            android:label="@string/title_activity_kuis_jawa_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_jawa_3"
            android:label="@string/title_activity_kuis_jawa_3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_jawa_4"
            android:label="@string/title_activity_kuis_jawa_4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_jawa_5"
            android:label="@string/title_activity_kuis_jawa_5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_sunda"
            android:label="@string/title_activity_kuis_sunda"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_sunda_1"
            android:label="@string/title_activity_kuis_sunda_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_sunda_3"
            android:label="@string/title_activity_kuis_sunda_3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_sunda_2"
            android:label="@string/title_activity_kuis_sunda_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_sunda_4"
            android:label="@string/title_activity_kuis_sunda_4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_sunda_5"
            android:label="@string/title_activity_kuis_sunda_5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_bali_1"
            android:label="@string/title_activity_membaca_bali_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_bali_2"
            android:label="@string/title_activity_membaca_bali_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_bali_3"
            android:label="@string/title_activity_membaca_bali_3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_bali_4"
            android:label="@string/title_activity_membaca_bali_4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".membaca_bali_5"
            android:label="@string/title_activity_membaca_bali_5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_bali"
            android:label="@string/title_activity_kuis_bali"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_bali_1"
            android:label="@string/title_activity_kuis_bali_1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_bali_2"
            android:label="@string/title_activity_kuis_bali_2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_bali_3"
            android:label="@string/title_activity_kuis_bali_3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_bali_4"
            android:label="@string/title_activity_kuis_bali_4"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_bali_5"
            android:label="@string/title_activity_kuis_bali_5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Hasil_kuis_jawa"
            android:label="@string/title_activity_hasil_kuis_jawa"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Hasil_kuis_sunda"
            android:label="@string/title_activity_hasil_kuis_sunda"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Hasil_kuis_bali"
            android:label="@string/title_activity_hasil_kuis_bali"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".kuis_dengar_bali_1"
            android:label="@string/title_activity_kuis_dengar_bali_1" >
        </activity>
    </application>

</manifest>
